@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #333;
     line-height: 1.6;
       font-family: 'Lato', sans-serif;

}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #333;
}
h1 ,h2{
       margin:  0 10px;
     font-weight: 300;
    line-height: 1.2;
}
p{
    padding: 0 10px;
}
img
{
    width: 100%;
}
.navbar{
    background-color: var(--primary-color);
    height: 70px;
     color: var(--light-color);
}
 .container{
    max-width: 1200px;
    margin:  0 auto;
    padding:  0 40px;
      overflow: auto;

 }
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
    .flex ul{
        display: flex;
        align-items: center;
        margin: 0  10px;

    }
    .navbar a{
        color: #f4f4f4;
        margin: 0 5px;
  padding: 10px;

    }
    .navbar a:hover{
        border-bottom: 2px solid var(--light-color);
    }